sudo: required
language: generic
services:
  - docker
env:
  global:
    - VERSION=0.1.3
    - SHA=$(git rev-parse HEAD)
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1
before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

deploy:
  provider: script
  script: bash ./build_and_push_images.sh
  on:
    branch: main
